body{
    font-family: "Plus Jakarta Sans", sans-serif;
    background: #EFF0F3;
}
.w-1250{
    width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 86px;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}
.logo_big{
    color: #001858;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 95px;
}
.logo_mini{
    width: 48px;
    height: 27px;
    color: #6246EA;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.navbar a{
    color:#2B2C34;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.button_nav{
    display: flex;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;
    margin-right: 95px;
    border-radius: 4px;
    background: #6246EA;
    color: #FFFFFE;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
/******************************************************************************************************/
.main_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 900px;
}
.main-information{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.main-information h1 {
    width: 617px;
    color: #2B2C34;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.information{
    display: flex;
    gap: 12px;
}
.line{
    width: 3px;
    height: 56px;
    background: #2B2C34;
}
.main-information p{
    width: 652px;
    color: #9A9494;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.form_registration{
    display: flex;
    gap: 20px;
}
input[type="email"]{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 21px 25px;
    border-radius: 8px;
    background: #FFFFFE;
    border: none;
    outline: none;
}
input[type="email"]::placeholder{
    color: #C0C0C0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
input[type="submit"]{
    display: flex;
    height: 67px;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border: none;
}
/***************************************************************************************/
.categories {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 68px;
}

.categories__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 69px;
}

.categories__title {
    color: #2B2C34;
    font-size: 24px;
    font-weight: 700;
}

.categories__link {
    color: #2B2C34;
    font-weight: 700;
    text-decoration: none;
}

.categories__grid {
    display: flex;
    margin-top: 50px;
    gap: 37px;
}
.categories__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 220px;
    height: 280px;
    border-radius: 8px;
    background: #FFFFFF;
    text-decoration: none;
    gap: 20px;
}
.categories__icon {
    height: 40px;
    display: flex;
}
.card{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 30px;
}
.categories__card h2 {
    margin: 0;
    color: #2B2C34;
    font-size: 20px;
    font-weight: 700;
}
.card_blue{
    border-radius: 8px;
    background:#6246EA;
}
.card_blue h2{
    color: #FFFFFE;
}
.icon_card_blue{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 7.458px;
    background: #FFFFFE;
}
/*****************************************************************************************/
.articles-section__header{
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 2504px;
    background: #FFFFFE;
}
.categories__header_grid{
    display: flex;
    justify-content: space-between;
    width: 1250px;
    margin: 0 auto;
    padding: 80px 0 30px 0;
}
.articles-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 1250px;
    margin: 0 auto;
}
.card__author{
    display: flex;
    align-items: center;
}
.card__author-name{
    display: flex;
    width: 73px;
    height: 21px;
    color:#2B2C34;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.card__meta{
    display: flex;
    width: 184px;
    height: 21px;
    color: #2B2C34;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.card__author img{
    width: 57px;
    height: 57px;
}
.text_about_author{
    margin-left: 15px;
}
.button_article{
    display: flex;
    justify-content: center;
    width: 1250px;
    margin: 0 auto;
}
.more_article{
    display: flex;
    justify-content: center;
    padding: 20px 23px 19px 23px;
    align-items: center;
    margin-top: 80px;
    gap: 10px;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.subscribe-section__email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 453px;
}
.wrapper_img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;

}
.wrapper_img::before{
    content: "";
    position: absolute;
    width: 130px;
    height: 130px;
    background-color: #FFFFFF;
    border-radius: 50%;
    z-index: -1;
}
.wrapper_img img{
    position: relative;
    z-index: 1;
    width: 80.066px;
    height: auto;

}
.subscribe-section__title{
    color: #2B2C34;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin: 30px 0 10px 0;
}
.subscribe-section__text{
    width: 696px;
    color: #C0C0C0;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}
.subscribe-section__form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}
input[type="email"]{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 444px;
    padding: 21px 25px;
    border-radius: 8px;
    background: #FFFFFE;
    border: none;
    outline: none;
}
input[type="email"]::placeholder{
    color: #C0C0C0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
input[type="submit"]{
    display: flex;
    height: 67px;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border: none;
}
/******************************************************************************************************/
footer{
    height: 445px;
    width: 1440px;
    background: #E4E5E9;
}
.footer_container{
    padding: 70px 0 40px 0;
    display: flex;
    width: 1250px;
    margin: 0 auto;
    gap: 160px;
}
.logo_footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.logo_big_footer{
    color: #001858;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.logo_mini_footer{
    width: 48px;
    height: 27px;
    color: #6246EA;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.logo_footer p{
    width: 284px;
    color: #2B2C34;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.icons_footer{
    display: flex;
    gap: 30px;
}
.footer_information{
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 95px;
}
.footer_information div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer_information div h4{
    margin-bottom: 5px;
    color: #2B2C34;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.footer_information div p{
    color: #2B2C34;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.divider{
    width: 1250px;
    height: 1px;
    background: #C0C0C0;
    margin: 0 auto;
}
.copyright{
    display: flex;
    width: 1250px;
    margin: 0 auto;
}
.copyright p{
    color: #2B2C34;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 26px 0;
}









